html,body {
    height: 100%; /* ให้เต็มหน้าจอ */
    margin: 0;    /* ลบ margin เริ่มต้น */
    display: flex; 
    justify-content: center; /* จัด main แนวนอนกลาง */
    align-items: center;     /* จัด main แนวตั้งกลาง */
    background-color: rgb(254, 235, 241);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width : 100%;
    height : 50%;

    
}
 
.LoginContainer {
    width : 400px;
    height : 400px;
    border: 2px solid rgb(231, 99, 99);
    background-color: #fff7c8;
    line-height: 2.5;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;

}

.box {
    width : 120px;
    height : 20px;
    font-size: 16px;
}

.submitbt {
    width : 80px;
    height : 25px;
    font-size: 16px;
    font-weight: bold;
}

.home {
    width : 600px;
    height : 400px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}
/* .test {
    width : 40%;
    height : 50%;
    background-color: aqua;
} */